/*
 * Декларирование переменных 
 */
:root {
  /* Набор основной цветовой гаммы фона и текста */
  --accent-color: #2196f3;
  --current-bg-color: #2196f3;
  --current-text-color: #fff;
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --third-txt-color: rgba(255, 255, 255, 0.6);
  --main-bg-color: #fff;
  --secondary-bg-color: #2f303a;

  /* Имена и семейство используемых шрифтов */
  --main-font-name: 'Roboto';
  --main-font-family: sans-serif;
  --secondary-font-name: 'Raleway';
  --secondary-font-family: sans-serif;
}

/*
 * Общие стили 
 */

/* Невидимость */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Снятие подчеркивания с ссылок*/
a {
  text-decoration: none;
}

/* Точечное снятие маркера со списков */
.navigation-list,
.header-contacts-list,
.advantages-list,
.case-list,
.team-list,
.footer-contacts-list,
.portfolio-button-list,
.portfolio-work-list {
  list-style: none;
}

/* Задания базовых свойств елементам страниц */
body {
  font-family: var(--main-font-name), var(--main-font-family);
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

/*
 * Оформление стилей страниц 
 */

/* Задание фона блокам hero и footer */
.hero,
.footer {
  background-color: var(--secondary-bg-color);
}

/* Задание фона блоку team */
.team {
  background-color: #f5f4fa;
}

/* Оформление логотипа в header и footer */
.logo {
  font-family: var(--secondary-font-name), var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header .logo-studio {
  color: #000;
}

.footer .logo-studio {
  color: #fff;
}

/* Оформление текста из навигации в header*/
.navigation-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

/* Добавление эффекта текущей страницы в навигации */
.navigation-studia.current,
.navigation-portfolio.current {
  color: var(--accent-color);
}

/* Оформление ссылок контактной информации (почта, телефон) в header */
.header-contacts-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}

/* Добавление эффектов hover и focus для навигации и ссылок контактов в header и footer */
.navigation-list a:hover,
.navigation-list a:focus,
.header-contacts-list a:hover,
.header-contacts-list a:focus,
.footer-contacts-list a:hover,
.footer-contacts-list a:focus {
  color: var(--accent-color);
}

/* Оформление заголовка в секции hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* Оформление кнопки "Заказать услугу" в секции hero */
.hero-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--current-text-color);
  text-align: center;
  background-color: var(--current-bg-color);
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Оформление подзаголовков в секции "Наши преимущества" */
.observation-title,
.punctuality-title,
.planning-title,
.technologies-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Оформление текста в секции "Наши преимущества" */
.advantages-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-txt-color);
}

/* Текстовое формление заголовков в секциях "Чем мы занимаемся" и "Наша команда" */
.case-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Текстовое оформление имен в секции "Наша команда" */
.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Текстовое оформление именования должностей в секции "Наша команда" */
.team-list .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-txt-color);
  text-align: center;
}

/* Базовое оформление кнопок секции "Портфолио" на странице Портфолио */
.portfolio-button-list button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  text-align: center;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
}

/* Стилизация активированной кнопки "Все" секции "Портфолио" */
.portfolio-button-list .button-all {
  width: 73px;
  height: 38px;
  color: var(--current-text-color);
  background-color: var(--current-bg-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Задание размеров кнопки "Веб-сайты" секции "Портфолио" */
.portfolio-button-list .button-website {
  width: 128px;
  height: 38px;
}

/* Задание размеров кнопки "Приложения" секции "Портфолио" */
.portfolio-button-list .button-app {
  width: 145px;
  height: 38px;
}

/* Задание размеров кнопки "Дизайн" секции "Портфолио" */
.portfolio-button-list .button-design {
  width: 103px;
  height: 38px;
}

/* Задание размеров кнопки "Маркетинг" секции "Портфолио" */
.portfolio-button-list .button-marketing {
  width: 130px;
  height: 38px;
}

/* Добавление эффектов hover и focus кнопкам секции "Портфолио" */
.portfolio-button-list button:hover,
.portfolio-button-list button:focus {
  color: var(--current-text-color);
  background-color: var(--current-bg-color);
}

/* Текстовое оформление названий выполненых работ секции "Портфолио" */
.portfolio-work-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Текстовое оформление именования категории выполненых работ секции "Портфолио" */
.portfolio-work-list .type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-txt-color);
}

/* Текстовое оформление елементов адреса в footer */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

/* Текстовое оформление контактных ссылок в footer */
.footer-contacts-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-txt-color);
}

/*
 * Временный "костыль" для удаления отступа между main и footer в Студия 
 */
.team-list {
  margin-bottom: 0;
}

.mikhail-ermakov .position {
  margin-bottom: 0;
}
